.palette-section {
  width: 100%;
  padding: 120px 20px;
  background: #EFF7FB;
  text-align: center;
}

.palette-badge {
  display: inline-flex;
  align-items: center;
  gap: 6px;

  padding: 10px 14px;
  font-size: 13px;
  border-radius: 999px;

  background: #DBDADF;
  color: BLACK;
  margin-bottom: 14px;
  font-weight: 500;
}


/* Title */
.palette-title {
  font-size: 42px;
  font-weight: 800;
  margin-bottom: 60px;
}

/* Grid */
.palette-grid {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

/* Card */
.palette-card {
  background: #f0f2ef;
  border-radius: 18px;
  padding: 36px 28px;
  text-align: center;
  transition:  background 0.3s ease,
    color 0.3s ease,
    transform 0.3s ease;
}

.palette-card:hover {
  background: #6d42f4;          /* purple only on hover */
  color: #ffffff;
  transform: translateY(-6px);
}


/* Featured card */
.palette-icon {
  width: 44px;
  height: 44px;
  margin: 0 auto 18px;
  border-radius: 50%;
  background: #000;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #fff;
}


/* Featured icon */
.palette-card.featured .palette-icon {
  background: #000;
}

/* Text */
.palette-card h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 12px;
}

.palette-card p {
  font-size: 14px;
  line-height: 1.6;
  color: #555;
  transition: color 0.3s ease;
}

.palette-card.featured p {
  color: #e6e6ff;
}

.palette-card:hover p {
  color: #e6e6ff;
}

/* Responsive */
@media (max-width: 900px) {
  .palette-grid {
    grid-template-columns: 1fr;
  }
}
